################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TypescriptDemos
/Tutorials
/TrainingRepository
/TestRepository
/Testing
/personal issues
/New Volume (D) - Shortcut.lnk
/MyTutorials
/MySqlDemos
/mycodes
/MVC_June
/LNT-SQLSERVER
/LNT
/Javascript Codes
/HCL_MVC
/HCL SRILANKA
/HCL DEMOS
/HCL ASSESSMENTS
/GET 976_.NET_Participant Evaluation Form (PEF)_format.xlsx
/Examples
/Entity Samples
/Emerson
/di.txt
/Cognizant Code Challenge
/capgemini
/C#.Net 3.5 slides.ppt
/C# CONTENTS.docx
/ASP.NET MVC CORE SAMPLES
/Answers.docx
/Angular features
/$RECYCLE.BIN
